# Use postgres/example user/password credentials
version: '3.9'

services:

  db:
    image: postgres
    restart: always
    ports:
      - '5432:5432'
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: picpay123
      POSTGRES_DB: picpay
      POSTGRES_USER: postgres

#  adminer:
#    image: adminer
#    restart: always
#    ports:
#      - 8080:8080

  prometheus:
     image: prom/prometheus
     extra_hosts:
       - "host.docker.internal:host-gateway"
     container_name: go-boilerplate-prometheus
     restart: unless-stopped
     ports:
       - 9090:9090
     command:
       - --config.file=/etc/prometheus/prometheus.yml
       - --storage.tsdb.path=/prometheus
       - --web.console.libraries=/etc/prometheus/console_libraries
       - --web.console.templates=/etc/prometheus/consoles
       - --web.enable-lifecycle
     volumes:
       - ./prometheus.yml:/etc/prometheus/prometheus.yml
       - prometheus-data:/prometheus
     networks:
       - go-boilerplate-network

volumes:
  go-boilerplate-volumes:
  prometheus-data:


networks:
  go-boilerplate-network:
    driver: bridge